VITE_MQTT_PROTOCOL=wss
VITE_MQTT_HOST=broker.emqx.io
VITE_MQTT_PORT=8084
VITE_MQTT_ENDPOINT=/mqtt
VITE_MQTT_USERNAME=emqx
VITE_MQTT_PASSWORD=public
VITE_MQTT_PUBLISH_TOPIC=gisa/rele
VITE_MQTT_STATUS_TOPIC=rele/status
VITE_MQTT_SENSOR_TOPIC=rele/sensor
VITE_MQTT_DOOR_TOPIC=rele/door
VITE_MQTT_TRAVEL_TOPIC=rele/travel
